body {
            background-color: #FEECE9;
        }
        h1 {
            color: #FE7E6D;
            font-family: Courier, serif;
            font-size: 33pt;
        }
        h3, th {
            color: #FE7E6D;
        }

        p, li, a, td {
            color: #2F3A8F;
            font-family: Montserrat, serif;
        }
        hr {
            border-style: dotted none none;
            border-color: #CCD1E4;
            border-width: 10px;
            width: 120px;
            height: 0;
        }

        img.img_small {
            width: 100px;
            border-radius: 50px;
        }

        img.img_large {
            width: 200px;
            height: 200px;
            border-radius: 100px;
        }