body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-family: 'Montserrat-Black', sans-serif;
    size: 15em;
    line-height: 1.5;
}

#title, #testimonials, #press {
    background-color: #ff4c68;
    color: white;

}



#phone-image {
    transform: rotate(20deg);
    width: 60%;
    position: relative;
}

#features {
    background-color: white;
    position: relative;
    z-index: 1;
}

#testimonials {
    position: relative;
    z-index: 1;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2rem;
}

.nav-item {
    padding: 0 18px;
}

.feature-icon {
    color: #ef8192;
    font-size: 3rem;
}

.feature-icon:hover {
    color: #ff4c68;
}

.testimonial-image {
    width: 15%;
}

.logo {
    width: 15%;
    margin: 20px 20px 50px;
}

@media screen and (max-width: 992px) {
    #phone-image {
        position: static;
        transform: rotate(0deg);
    }

    #title {
        text-align: center;
    }
}

#cta {
    background-color: #ff4c68;
    text-align: center;
    font-family: 'Montserrat-Black', sans-serif;
    color: white;
    size: 15em;
    line-height: 1.5;
}

#footer {
    text-align: center;
}

/*#title .container-fluid {*/
/*    padding: 3% 15%;*/
/*}*/
